* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html,
body {
  height: 100%;
  min-width: 320px;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'montserrat', sans-serif;
  font-weight: 400;
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 700px) {
  .container {
    width: 95%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1143px;
  }
}
.wrapper-site {
  width: 100%;
  min-height: 100vh;
  background: url(../img/main-bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*-------------------Header------------------*/
.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}
@media (min-width: 700px) {
  .header-navigation {
    height: 100px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 34px;
  }
}
.block-logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
@media (min-width: 700px) {
  .block-logo {
    width: 27%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-top: 5px;
    padding-right: 3px;
    margin-bottom: 0;
  }
}
.logo-link {
  text-decoration: none;
}
.logo-main {
  width: 290px;
  width: 200px;
}
@media (min-width: 700px) {
  .logo-main {
    width: 290px;
  }
}
.block-link {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
@media (min-width: 400px) {
  .block-link {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (min-width: 700px) {
  .block-link {
    width: 46%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 7px;
    padding-right: 33px;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}
.link-navigation {
  text-decoration: none;
  font-family: 'montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: #232834;
  margin-bottom: 10px;
}
@media (min-width: 700px) {
  .link-navigation {
    margin-left: 34px;
    margin-bottom: 0;
  }
}
.block-log-in {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
@media (min-width: 700px) {
  .block-log-in {
    width: 27%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 2px;
    padding-right: 2px;
    margin-bottom: 0;
  }
}
.button-log-in {
  text-decoration: none;
  display: inline-block;
  width: 107px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid #232834;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: #232834;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
@media (min-width: 700px) {
  .button-log-in {
    height: 50px;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}
.language-block {
  width: 122px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 10px;
}
.language-block:after {
  content: "";
  display: block;
  width: 2px;
  height: 15px;
  background-color: #9AABBC;
  position: absolute;
  top: 2px;
  left: 57px;
}
@media (min-width: 700px) {
  .language-block {
    margin-bottom: 0;
    margin-left: 8px;
  }
}
.language-block-item {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-family: 'montserrat', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 1;
  color: #9AABBC;
  cursor: pointer;
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
}
.language-block-item.active {
  color: #D50839;
}
/*---------------Block-slider--------------*/
.block-slider {
  width: 100%;
}
.slider-item-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider-main-left-part {
  width: 52%;
  padding-top: 75px;
  padding-bottom: 160px;
  padding-left: 15px;
}
.main-title {
  font-family: 'montserrat', sans-serif;
  font-weight: 700;
  font-size: 55px;
  line-height: 1.3;
  color: #232834;
  text-align: left;
  margin: 0;
  margin-bottom: 20px;
}
.title-discription {
  font-family: 'montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: #232834;
  margin: 0;
  margin-bottom: 37px;
  padding-right: 65px;
}
.title-discription.message-text {
  padding-right: 170px;
  margin-bottom: 67px;
}
.title-discription.phone-text {
  padding-right: 100px;
  margin-bottom: 67px;
}
.bold-text {
  font-weight: 600;
}
.main-button-start {
  width: 177px;
  height: 55px;
  border-radius: 50px;
  font-family: 'montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  color: #FFFFFF;
  background-color: #D50839;
  -webkit-box-shadow: 0px 10px 20px rgba(213, 8, 57, 0.15);
          box-shadow: 0px 10px 20px rgba(213, 8, 57, 0.15);
  border: none;
  outline: none;
  cursor: pointer;
}
.slider-main-right-part {
  width: 48%;
  position: relative;
}
.robot-img-slider {
  position: absolute;
  top: 33px;
  left: -130px;
}
.partners-img-slider {
  position: absolute;
  top: 12px;
  left: 88px;
}
.send_message-img-slider {
  position: absolute;
  top: 47px;
  left: -135px;
}
.phone-img-slider {
  position: absolute;
  top: 36px;
  left: -85px;
}
/*---------------Block-bottom-offer--------------*/
.wrap-block-bottom-offer {
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 10px;
}
@media (min-width: 700px) {
  .wrap-block-bottom-offer {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 0;
  }
}
.block-bottom-offer {
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0px 15px 80px rgba(199, 206, 217, 0.3);
          box-shadow: 0px 15px 80px rgba(199, 206, 217, 0.3);
  padding: 10px;
}
@media (min-width: 700px) {
  .block-bottom-offer {
    border-radius: 15px;
    padding: 18px;
  }
}
.block-bottom-offer-inner {
  width: 100%;
  height: auto;
  background-image: url(../img/image-dots.png);
  background-repeat: repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
}
@media (min-width: 700px) {
  .block-bottom-offer-inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-radius: 15px;
  }
}
.block-bottom-offer-text-wrap {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (min-width: 700px) {
  .block-bottom-offer-text-wrap {
    width: 70%;
    padding-top: 34px;
    padding-bottom: 30px;
    padding-left: 34px;
  }
}
@media (min-width: 700px) {
  .block-bottom-offer-text-wrap.advertising,
  .block-bottom-offer-text-wrap.webmaster {
    padding-right: 40px;
    padding-bottom: 20px;
  }
}
.block-bottom-offer-title {
  font-family: 'montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: #232834;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}
@media (min-width: 700px) {
  .block-bottom-offer-title {
    text-align: left;
    font-size: 30px;
    margin-bottom: 20px;
  }
}
.block-bottom-offer-sub-title {
  font-family: 'montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #232834;
  text-align: center;
  margin: 0;
}
@media (min-width: 700px) {
  .block-bottom-offer-sub-title {
    font-size: 18px;
    text-align: left;
  }
}
.block-bottom-offer-button-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 700px) {
  .block-bottom-offer-button-wrap {
    width: 30%;
    padding-top: 17px;
    padding-right: 22px;
  }
}
.block-bottom-offer-button-wrap.advertising,
.block-bottom-offer-button-wrap.webmaster {
  padding-bottom: 10px;
}
.block-bottom-offer-button-hours {
  font-family: 'montserrat', sans-serif;
  font-weight: 700;
  font-size: 43px;
  line-height: 1.6;
  color: rgba(35, 40, 52, 0.15);
  margin: 0;
  margin-bottom: 20px;
}
.bottom-offer-button {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  background-color: #D50839;
  -webkit-box-shadow: 0px 10px 20px rgba(213, 8, 57, 0.15);
          box-shadow: 0px 10px 20px rgba(213, 8, 57, 0.15);
  border: none;
  outline: none;
  font-family: 'montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: #FFFFFF;
  cursor: pointer;
}
@media (min-width: 700px) {
  .bottom-offer-button {
    width: 235px;
    height: 63px;
    font-size: 16px;
  }
}
/*-------------------Footer------------------*/
.footer {
  padding-bottom: 39px;
}
.footer-navigation-top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}
@media (min-width: 700px) {
  .footer-navigation-top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 20px;
  }
}
.footer-top-link {
  text-decoration: none;
  font-family: 'montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: #9AABBC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.footer-top-link:hover .icon-footer-svg {
  fill: #D50839;
}
.footer-top-link:hover {
  color: #D50839;
}
.footer-top-link:hover .footer-top-link-inner {
  border-bottom: 1px dashed #D50839;
  padding-bottom: 1px;
}
.footer-top-link:last-child {
  margin-right: 0;
}
@media (min-width: 700px) {
  .footer-top-link {
    font-size: 18px;
    margin-right: 65px;
    margin-bottom: 0;
  }
}
.footer-top-link-inner {
  margin: 0;
  padding-bottom: 2px;
}
.icon-footer-svg {
  width: 20px;
  fill: #9AABBC;
  margin-right: 10px;
}
.footer-navigation-bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}
@media (min-width: 700px) {
  .footer-navigation-bottom {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 19px;
  }
}
.footer-block-logo {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 700px) {
  .footer-block-logo {
    width: 24%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 14px;
  }
  .footer-block-logo:after {
    content: "";
    display: block;
    width: 1px;
    height: 40px;
    background-color: #D3DCE6;
    position: absolute;
    top: 10px;
    right: 3px;
  }
}
.logo-img {
  width: 150px;
}
@media (min-width: 700px) {
  .logo-img {
    width: 225px;
  }
}
.footer-block-copy {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #9AABBC;
  padding-top: 5px;
}
@media (min-width: 700px) {
  .footer-block-copy {
    width: 26%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 28px;
  }
}
.footer-block-policy {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
}
@media (min-width: 700px) {
  .footer-block-policy {
    width: 50%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 6px;
    padding-right: 15px;
  }
}
.footer-block-policy-link {
  font-family: 'montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  color: #232834;
  margin-bottom: 5px;
}
@media (min-width: 700px) {
  .footer-block-policy-link {
    font-size: 14px;
    margin-bottom: 0;
    margin-left: 52px;
  }
}
