* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html,
body {
  height: 100%;
  min-width: 320px;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'montserrat', sans-serif;
  font-weight: 400;
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 700px) {
  .container {
    width: 95%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1143px;
  }
}
.wrapper-site {
  width: 100%;
  min-height: 100vh;
  background: url(../img/main-bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*-------------------Header------------------*/
.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}
@media (min-width: 700px) {
  .header-navigation {
    height: 100px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 34px;
  }
}
.block-logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
@media (min-width: 700px) {
  .block-logo {
    width: 27%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-top: 5px;
    padding-right: 3px;
    margin-bottom: 0;
  }
}
.logo-link {
  text-decoration: none;
}
.logo-main {
  width: 200px;
}
@media (min-width: 700px) {
  .logo-main {
    width: 290px;
  }
}
.block-link {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
@media (min-width: 400px) {
  .block-link {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (min-width: 700px) {
  .block-link {
    width: 46%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 7px;
    padding-right: 33px;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}
.link-navigation {
  text-decoration: none;
  font-family: 'montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: #232834;
  margin-bottom: 10px;
}
@media (min-width: 700px) {
  .link-navigation {
    margin-left: 34px;
    margin-bottom: 0;
  }
}
.block-log-in {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
@media (min-width: 700px) {
  .block-log-in {
    width: 27%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 2px;
    padding-right: 2px;
    margin-bottom: 0;
  }
}
.button-log-in {
  text-decoration: none;
  display: inline-block;
  width: 107px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid #232834;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: #232834;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
@media (min-width: 700px) {
  .button-log-in {
    height: 50px;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}
.language-block {
  width: 122px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 10px;
}
.language-block:after {
  content: "";
  display: block;
  width: 2px;
  height: 15px;
  background-color: #9AABBC;
  position: absolute;
  top: 2px;
  left: 57px;
}
@media (min-width: 700px) {
  .language-block {
    margin-bottom: 0;
    margin-left: 8px;
  }
}
.language-block-item {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-family: 'montserrat', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 1;
  color: #9AABBC;
  cursor: pointer;
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
}
.language-block-item.active {
  color: #D50839;
}
/*---------------Block-slider--------------*/
.block-slider {
  width: 100%;
  margin-bottom: 30px;
}
.slider-item-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 700px) {
  .slider-item-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.slider-main-left-part {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 30px;
  text-align: center;
}
@media (min-width: 700px) {
  .slider-main-left-part {
    width: 52%;
    text-align: left;
    padding-top: 75px;
    padding-bottom: 160px;
    padding-left: 15px;
  }
}
.main-title {
  font-family: 'montserrat', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  color: #232834;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}
@media (min-width: 700px) {
  .main-title {
    font-size: 55px;
    line-height: 1.3;
    text-align: left;
    margin-bottom: 20px;
  }
}
.title-discription {
  font-family: 'montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #232834;
  text-align: center;
  margin: 0;
  margin-bottom: 15px;
  padding-right: 10px;
  padding-left: 10px;
}
@media (min-width: 700px) {
  .title-discription {
    font-size: 18px;
    line-height: 1.67;
    text-align: left;
    padding-right: 65px;
    padding-left: 0;
    margin-bottom: 37px;
  }
}
@media (min-width: 700px) {
  .title-discription.message-text {
    padding-right: 170px;
    margin-bottom: 67px;
  }
}
@media (min-width: 700px) {
  .title-discription.phone-text {
    padding-right: 100px;
    margin-bottom: 67px;
  }
}
.bold-text {
  font-weight: 600;
}
.main-button-start {
  width: 177px;
  height: 55px;
  border-radius: 50px;
  font-family: 'montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  color: #FFFFFF;
  background-color: #D50839;
  -webkit-box-shadow: 0px 10px 20px rgba(213, 8, 57, 0.15);
          box-shadow: 0px 10px 20px rgba(213, 8, 57, 0.15);
  border: none;
  outline: none;
  cursor: pointer;
}
.slider-main-right-part {
  width: 48%;
  height: 600px;
  position: relative;
  display: none;
}
@media (min-width: 700px) {
  .slider-main-right-part {
    display: block;
  }
}
.robot-img-slider {
  width: 747px;
  position: absolute;
  top: 31px;
  left: -129px;
}
.partners-img-slider {
  width: 444px;
  position: absolute;
  top: 12px;
  left: 88px;
}
.send_message-img-slider {
  width: 710px;
  position: absolute;
  top: 47px;
  left: -135px;
}
.phone-img-slider {
  width: 681px;
  position: absolute;
  top: 36px;
  left: -85px;
}
/*--------------Block-top-offer-------------*/
.block-top-offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px 30px 10px;
  margin-bottom: 0;
}
@media (min-width: 700px) {
  .block-top-offer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 54px 15px 50px 15px;
    margin-bottom: 50px;
  }
}
.block-top-offer-item {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  background-color: #fff;
  -webkit-box-shadow: 0px 30px 50px rgba(156, 163, 178, 0.2);
          box-shadow: 0px 30px 50px rgba(156, 163, 178, 0.2);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 25px 35px 25px;
  margin-bottom: 50px;
}
@media (min-width: 400px) {
  .block-top-offer-item {
    width: 60%;
  }
}
@media (min-width: 700px) {
  .block-top-offer-item {
    width: 31.5%;
    padding: 55px 45px 42px 45px;
    margin-bottom: 0;
  }
}
.line-top {
  position: absolute;
  top: -30px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
.wrap-icon-svg {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}
@media (min-width: 700px) {
  .wrap-icon-svg {
    margin-bottom: 25px;
  }
}
.wrap-icon-svg.third {
  padding-top: 10px;
}
.title-item-offer {
  font-family: 'montserrat', sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.4;
  color: #232834;
  margin: 0;
  margin-bottom: 5px;
}
.bottom-offer-discription {
  font-family: 'montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.75;
  text-align: center;
  color: #232834;
  margin-bottom: 15px;
}
@media (min-width: 700px) {
  .bottom-offer-discription {
    margin-bottom: 28px;
  }
}
.button-more-offer-top {
  width: 177px;
  height: 55px;
  border-radius: 50px;
  border: 1px solid #D50839;
  background: transparent;
  font-family: 'montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  color: #D50839;
  outline: none;
  cursor: pointer;
}
.image-bottom {
  width: 100%;
  position: absolute;
  bottom: -20px;
  left: 0;
}
@media (min-width: 700px) {
  .image-bottom {
    bottom: -30px;
  }
}
/*--------------Block-payment-------------*/
.block-payment {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 35px;
}
.wrap-payment-title {
  padding-top: 0;
  margin-bottom: 15px;
}
@media (min-width: 700px) {
  .wrap-payment-title {
    padding-top: 15px;
    margin-bottom: 45px;
  }
}
.payment-title {
  font-family: 'montserrat', sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 1.2;
  color: #232834;
  text-align: center;
  margin: 0;
}
@media (min-width: 700px) {
  .payment-title {
    font-size: 45px;
    line-height: 1.1;
    text-align: left;
  }
}
.payment-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 700px) {
  .payment-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 25px;
  }
}
.payment-item-brand {
  width: 255px;
  height: 118px;
  border-radius: 5px;
  border: 1px solid #D5DDE3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
@media (min-width: 700px) {
  .payment-item-brand {
    margin-bottom: 0;
  }
}
/*---------------Block-bottom-offer--------------*/
.wrap-block-bottom-offer {
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 10px;
}
@media (min-width: 700px) {
  .wrap-block-bottom-offer {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 60px;
  }
}
.block-bottom-offer {
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0px 15px 80px rgba(199, 206, 217, 0.3);
          box-shadow: 0px 15px 80px rgba(199, 206, 217, 0.3);
  padding: 10px;
}
@media (min-width: 700px) {
  .block-bottom-offer {
    border-radius: 15px;
    padding: 18px;
  }
}
.block-bottom-offer-inner {
  width: 100%;
  height: auto;
  background-image: url(../img/image-dots.png);
  background-repeat: repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
}
@media (min-width: 700px) {
  .block-bottom-offer-inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-radius: 15px;
  }
}
.block-bottom-offer-text-wrap {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (min-width: 700px) {
  .block-bottom-offer-text-wrap {
    width: 70%;
    padding-top: 34px;
    padding-bottom: 15px;
    padding-left: 34px;
  }
}
@media (min-width: 700px) {
  .block-bottom-offer-text-wrap.advertising,
  .block-bottom-offer-text-wrap.webmaster {
    padding-right: 40px;
    padding-bottom: 20px;
  }
}
.block-bottom-offer-title {
  font-family: 'montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: #232834;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}
@media (min-width: 700px) {
  .block-bottom-offer-title {
    text-align: left;
    font-size: 30px;
    margin-bottom: 20px;
  }
}
.red-text {
  color: #D50839;
}
.block-bottom-offer-sub-title {
  font-family: 'montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #232834;
  text-align: center;
  margin: 0;
}
@media (min-width: 700px) {
  .block-bottom-offer-sub-title {
    font-size: 18px;
    text-align: left;
  }
}
.block-bottom-offer-button-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 700px) {
  .block-bottom-offer-button-wrap {
    width: 30%;
    padding-top: 17px;
    padding-right: 22px;
  }
}
.block-bottom-offer-button-wrap.advertising,
.block-bottom-offer-button-wrap.webmaster {
  padding-bottom: 10px;
}
.block-bottom-offer-button-hours {
  font-family: 'montserrat', sans-serif;
  font-weight: 700;
  font-size: 43px;
  line-height: 1.6;
  color: rgba(35, 40, 52, 0.15);
  margin: 0;
  margin-bottom: 20px;
}
.bottom-offer-button {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  background-color: #D50839;
  -webkit-box-shadow: 0px 10px 20px rgba(213, 8, 57, 0.15);
          box-shadow: 0px 10px 20px rgba(213, 8, 57, 0.15);
  border: none;
  outline: none;
  font-family: 'montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: #FFFFFF;
  cursor: pointer;
}
@media (min-width: 700px) {
  .bottom-offer-button {
    width: 235px;
    height: 63px;
    font-size: 16px;
  }
}
/*-------------------Footer------------------*/
.footer {
  padding-bottom: 39px;
}
.footer-navigation-top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}
@media (min-width: 700px) {
  .footer-navigation-top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 20px;
  }
}
.footer-top-link {
  text-decoration: none;
  font-family: 'montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: #9AABBC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.footer-top-link:hover .icon-footer-svg {
  fill: #D50839;
}
.footer-top-link:hover {
  color: #D50839;
}
.footer-top-link:hover .footer-top-link-inner {
  border-bottom: 1px dashed #D50839;
  padding-bottom: 1px;
}
.footer-top-link:last-child {
  margin-right: 0;
}
@media (min-width: 700px) {
  .footer-top-link {
    font-size: 18px;
    margin-right: 65px;
    margin-bottom: 0;
  }
}
.footer-top-link-inner {
  margin: 0;
  padding-bottom: 2px;
}
.icon-footer-svg {
  width: 20px;
  fill: #9AABBC;
  margin-right: 10px;
}
.footer-navigation-bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}
@media (min-width: 700px) {
  .footer-navigation-bottom {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 19px;
  }
}
.footer-block-logo {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 700px) {
  .footer-block-logo {
    width: 24%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 14px;
  }
  .footer-block-logo:after {
    content: "";
    display: block;
    width: 1px;
    height: 40px;
    background-color: #D3DCE6;
    position: absolute;
    top: 10px;
    right: 3px;
  }
}
.logo-img {
  width: 150px;
}
@media (min-width: 700px) {
  .logo-img {
    width: 225px;
  }
}
.footer-block-copy {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #9AABBC;
  padding-top: 5px;
}
@media (min-width: 700px) {
  .footer-block-copy {
    width: 26%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 28px;
  }
}
.footer-block-policy {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
}
@media (min-width: 700px) {
  .footer-block-policy {
    width: 50%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 6px;
    padding-right: 15px;
  }
}
.footer-block-policy-link {
  font-family: 'montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  color: #232834;
  margin-bottom: 5px;
}
@media (min-width: 700px) {
  .footer-block-policy-link {
    font-size: 14px;
    margin-bottom: 0;
    margin-left: 52px;
  }
}
/*-------------Advertising-top-content-------------*/
.advertising-top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 78px;
  padding-right: 160px;
  padding-bottom: 40px;
  padding-left: 160px;
  margin-bottom: 20px;
}
.advertising-top-content-title {
  font-family: 'montserrat', sans-serif;
  font-weight: 700;
  font-size: 55px;
  line-height: 71px;
  text-align: center;
  color: #232834;
  margin: 0;
  margin-bottom: 18px;
}
.advertising-top-content-sub-title {
  font-family: 'montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #232834;
  margin-bottom: 61px;
}
/*-------------Advertising-top-offer-------------*/
.advertising-top-offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-right: 60px;
  padding-left: 60px;
}
.advertising-top-offer-item {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 7px;
  padding-right: 15px;
  padding-left: 15px;
}
.advertising-wrap-icon-svg {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}
@media (min-width: 700px) {
  .advertising-wrap-icon-svg {
    margin-bottom: 17px;
  }
}
.advertising-offer-item-title {
  font-family: 'montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #232834;
  margin: 0;
}
.advertising-offer-item-text {
  font-family: 'montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #232834;
}
/*-------------Advertising-bottom-offer-------------*/
.advertising-bottom-offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
.advertising-bottom-offer-left {
  width: 45%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 7px;
  padding-right: 30px;
}
.partners-advertis-img {
  display: block;
  width: 303px;
}
.advertising-bottom-offer-right {
  width: 55%;
  padding-top: 113px;
  padding-right: 170px;
  padding-left: 17px;
}
.advertising-bottom-offer-right-text {
  font-family: 'montserrat', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.45;
  color: #232834;
  margin-bottom: 27px;
}
.parther-house-link {
  text-decoration: none;
  font-weight: 600;
  color: #8291B6;
}
/*-------------Webmaster-top-content-------------*/
.webmaster-top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 78px;
  padding-right: 160px;
  padding-bottom: 40px;
  padding-left: 160px;
  margin-bottom: 20px;
}
.webmaster-top-content-title {
  font-family: 'montserrat', sans-serif;
  font-weight: 700;
  font-size: 55px;
  line-height: 71px;
  text-align: center;
  color: #232834;
  margin: 0;
  margin-bottom: 18px;
}
.webmaster-top-content-sub-title {
  font-family: 'montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #232834;
  margin-bottom: 61px;
}
.main-button-start {
  width: 177px;
  height: 55px;
  border-radius: 50px;
  font-family: 'montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  color: #FFFFFF;
  background-color: #D50839;
  -webkit-box-shadow: 0px 10px 20px rgba(213, 8, 57, 0.15);
          box-shadow: 0px 10px 20px rgba(213, 8, 57, 0.15);
  border: none;
  outline: none;
  cursor: pointer;
}
/*-------------Webmaster-top-offer-------------*/
.webmaster-top-offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  margin-bottom: 20px;
}
.webmaster-top-offer-title {
  font-family: 'montserrat', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.8;
  text-align: center;
  color: #232834;
  margin: 0;
  margin-bottom: 25px;
}
.webmaster-top-offer-wrap-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.webmaster-top-offer-item {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}
.wrap-icon-webmaster-svg {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}
@media (min-width: 700px) {
  .wrap-icon-webmaster-svg {
    margin-bottom: 15px;
  }
}
.webmaster-top-offer-item-title {
  font-family: 'montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #232834;
  margin: 0;
}
.webmaster-top-offer-item-text {
  font-family: 'montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #232834;
}
/*------------Webmaster-bottom-content------------*/
.webmaster-bottom-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.webmaster-bottom-content-left {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 50px;
  padding-right: 32px;
}
.webmaster-phone-img {
  display: block;
  width: 428px;
}
.webmaster-bottom-content-right {
  width: 50%;
  height: 100%;
  padding-top: 127px;
  padding-right: 110px;
  padding-left: 34px;
}
.webmaster-bottom-content-right-text {
  font-family: 'montserrat', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.45;
  color: #232834;
  margin-bottom: 27px;
}
/*--------------- Pop-webmaster-top --------------*/
.pop-webmaster-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 68px;
  padding-bottom: 40px;
  margin-bottom: 50px;
}
.pop-webmaster-top-title {
  font-family: 'montserrat', sans-serif;
  font-weight: 700;
  font-size: 55px;
  line-height: 71px;
  text-align: center;
  color: #232834;
  margin: 0;
  margin-bottom: 80px;
}
.pop-webmaster-top-wrap-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 17px;
}
.pop-webmaster-top-item {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}
.wrap-icon-pop-webmaster-svg {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}
@media (min-width: 700px) {
  .wrap-icon-pop-webmaster-svg {
    margin-bottom: 15px;
  }
}
.pop-webmaster-item-title {
  font-family: 'montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #232834;
  margin: 0;
}
.pop-webmaster-item-text {
  font-family: 'montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #232834;
}
/*-------------- Pop-webmaster-bottom -------------*/
.pop-webmaster-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 110px;
}
.pop-webmaster-bottom-left {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 5px;
  padding-bottom: 70px;
  padding-left: 82px;
}
.pop-webmaster-bottom-rectangle {
  width: 360px;
  height: 360px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  z-index: 1;
}
.pop-webmaster-bottom-rectangle-2 {
  width: 360px;
  height: 360px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 60px;
  left: 80px;
  z-index: 2;
}
.pop-webmaster-bottom-rectangle-main {
  width: 360px;
  height: 360px;
  border-radius: 10px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 20px 150px #E5EBF2;
          box-shadow: 0px 20px 150px #E5EBF2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 20px;
  left: 45px;
  z-index: 3;
}
.hand-img {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
.pop-webmaster-bottom-right {
  width: 50%;
  height: 100%;
  padding-top: 50px;
  padding-right: 100px;
  padding-left: 33px;
}
.pop-webmaster-bottom-text {
  font-family: 'montserrat', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.45;
  color: #232834;
  margin-bottom: 27px;
}
.red-link-webmaster {
  text-decoration: none;
}
.red-string {
  font-weight: 600;
  color: #D50839;
  border-bottom: 1px dashed #D50839;
}
/*-------------- Feedback-main-content -------------*/
.feedback-main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 77px;
  padding-bottom: 80px;
  margin-bottom: 150px;
}
.feedback-title {
  font-family: 'montserrat', sans-serif;
  font-weight: 700;
  font-size: 55px;
  line-height: 71px;
  text-align: center;
  color: #232834;
  margin: 0;
  margin-bottom: 20px;
}
.feedback-sub-title {
  width: 500px;
  font-family: 'montserrat', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  color: #232834;
  margin-bottom: 63px;
}
.feedback-block-form {
  width: 975px;
  border-radius: 15px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 15px 80px rgba(199, 206, 217, 0.3);
          box-shadow: 0px 15px 80px rgba(199, 206, 217, 0.3);
  padding-bottom: 50px;
  position: relative;
}
.feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 58px;
  padding-right: 80px;
  padding-bottom: 40px;
  padding-left: 80px;
}
.feedback-form-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}
.feedback-input {
  width: 361px;
  height: 70px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #D0D6E2;
  font-family: 'montserrat', sans-serif;
  font-size: 16px;
  color: #232834;
}
.feedback-input,
.feedback-textarea::-webkit-input-placeholder {
  font-family: 'montserrat', sans-serif;
  font-size: 16px;
  color: #232834;
}
.feedback-input,
.feedback-textarea:-moz-placeholder {
  font-family: 'montserrat', sans-serif;
  font-size: 16px;
  color: #232834;
}
.feedback-input,
.feedback-textarea:-ms-input-placeholder {
  font-family: 'montserrat', sans-serif;
  font-size: 16px;
  color: #232834;
}
.feedback-textarea {
  width: 100%;
  height: 70px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #D0D6E2;
  font-family: 'montserrat', sans-serif;
  font-size: 16px;
  color: #232834;
  resize: none;
  padding-top: 25px;
}
.feedback-button-submit {
  width: 203px;
  height: 55px;
  border-radius: 50px;
  font-family: 'montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  color: #FFFFFF;
  background-color: #D50839;
  -webkit-box-shadow: 0px 10px 20px rgba(213, 8, 57, 0.15);
          box-shadow: 0px 10px 20px rgba(213, 8, 57, 0.15);
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  bottom: -25px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
