/*-------------Advertising-top-offer-------------*/

.advertising-top-offer{
	display: flex;
	flex-direction: column;
	align-items: center;

	@media (min-width: 900px){
		flex-direction: row;
  		justify-content: space-around;
  		align-items: flex-start;
	}

	@media (min-width: 1000px){
  		padding-right: 60px;
		padding-left: 60px;
	}
}

.advertising-top-offer-item{
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 7px;
	padding-right: 15px;
	padding-left: 15px;

	@media (min-width: 400px){
		width: 70%;
	}

	@media (min-width: 600px){
		width: 50%;
	}

	@media (min-width: 900px){
		width: 30%;
	}
}

.advertising-wrap-icon-svg{
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;

	@media (min-width: 700px){
		margin-bottom: 17px;
	}
}

.advertising-offer-item-title{
	font-family: 'montserrat', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.2;
	text-align: center;
	color: #232834;
	margin: 0;
}

.advertising-offer-item-text{
	font-family: 'montserrat', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.4;
	text-align: center;
	color: #232834;
}