/*---------------Block-slider--------------*/

.block-slider{
	width: 100%;
	height: 600px;
	border: 1px solid green;
}

.slider-main{
	
}

.slider-item-block{
	height: 600px;
	border: 1px solid blue;
	display: flex;
}

.slider-main-left-part{
	width: 45%;
	height: 600px;
	border: 1px solid red;
}

.slider-main-right-part{
	width: 55%;
	height: 600px;
	border: 1px solid red;
	position: relative;
}

.robot-img{
	position: absolute;
	top: 32px;
	left: -50px;
}