/*---------------Block-bottom-offer--------------*/

.wrap-block-bottom-offer{
	padding-right: 5px;
	padding-left: 5px;
	margin-bottom: 10px;

	@media (min-width: 700px){
		padding-right: 15px;
		padding-left: 15px;
		margin-bottom: 60px;
	}
}

.block-bottom-offer{
	width: 100%; 
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0px 15px 80px rgba(199, 206, 217, 0.3);
	padding: 10px;

	@media (min-width: 700px){
		border-radius: 15px;
		padding: 18px;
	}
}

.block-bottom-offer-inner{
	width: 100%;
	height: auto;
	background-image: url(../img/image-dots.png);
	background-repeat: repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 10px;

	@media (min-width: 700px){
		flex-direction: row;
		border-radius: 15px;
	}
}

.block-bottom-offer-text-wrap{
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;

	@media (min-width: 700px){
		width: 70%;
		padding-top: 34px;
		padding-bottom: 15px;
		padding-left: 34px;
	}
}

.block-bottom-offer-text-wrap.advertising,
.block-bottom-offer-text-wrap.webmaster{
	
	@media (min-width: 700px){
		padding-right: 40px;
		padding-bottom: 20px;
	}
}

.block-bottom-offer-title{
	font-family: 'montserrat', sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.2;
	color: #232834;
	text-align: center;
	margin: 0;
	margin-bottom: 10px;

	@media (min-width: 700px){
		text-align: left;
		font-size: 30px;
		margin-bottom: 20px;
	}
}

.red-text{
	color: #D50839;
}

.block-bottom-offer-sub-title{
	font-family: 'montserrat', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
	color: #232834;
	text-align: center;
	margin: 0;

	@media (min-width: 700px){
		font-size: 18px;
		text-align: left;
	}
}

.block-bottom-offer-button-wrap{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	@media (min-width: 700px){
		width: 30%;
		padding-top: 17px;
		padding-right: 22px;
	}
}

.block-bottom-offer-button-wrap.advertising,
.block-bottom-offer-button-wrap.webmaster{
	padding-bottom: 10px;
}

.block-bottom-offer-button-hours{
	font-family: 'montserrat', sans-serif;
	font-weight: 700;
	font-size: 43px;
	line-height: 1.6;
	color: rgba(35, 40, 52, 0.15);
	margin: 0;
	margin-bottom: 20px;
}

.bottom-offer-button{
	width: 200px;
	height: 50px;
	border-radius: 50px;
	background-color: #D50839;
	box-shadow: 0px 10px 20px rgba(213, 8, 57, 0.15);
	border: none;
	outline: none;
	font-family: 'montserrat', sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.2;
	color: #FFFFFF;
	cursor: pointer;

	@media (min-width: 700px){
		width: 235px;
		height: 63px;
		font-size: 16px;
	}
}