/*---------------Block-slider--------------*/

.block-slider{
	width: 100%;
	margin-bottom: 30px;
}

.slider-item-block{
	display: flex;
	flex-direction: column; 
	align-items: center;

	@media (min-width: 700px){
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}
}

.slider-main-left-part{
	width: 100%;
	padding-top: 15px;
	padding-bottom: 30px;
	text-align: center;
	
	@media (min-width: 700px){
		width: 52%;
		text-align: left;
		padding-top: 40px;
		padding-bottom: 40px;
		padding-left: 15px;
	}

	@media (min-width: 1220px){
		padding-top: 75px;
		padding-bottom: 160px;
	}
}

.main-title{
	font-family: 'montserrat', sans-serif;
	font-weight: 700;
	font-size: 28px;
	line-height: 1.2;
	color: #232834;
	text-align: center;
	margin: 0;
	margin-bottom: 10px;

	@media (min-width: 700px){
		font-size: 38px;
		line-height: 1.3;
		text-align: left;
		margin-bottom: 20px;
	}

	@media (min-width: 1220px){
		font-size: 55px;
	}
}

.title-discription{
	font-family: 'montserrat', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.4;
	color: #232834;
	text-align: center;
	margin: 0;
	margin-bottom: 15px;
	padding-right: 10px;
	padding-left: 10px;

	@media (min-width: 700px){
		line-height: 1.67;
		text-align: left;
		padding-right: 30px;
		padding-left: 0;
		margin-bottom: 37px;
	}

	@media (min-width: 1220px){
		font-size: 18px;
		padding-right: 65px;
	}
}

.title-discription.message-text{

	@media (min-width: 700px){
		padding-right: 30px;
	}

	@media (min-width: 1220px){
		padding-right: 170px;
	}
}

.title-discription.phone-text{

	@media (min-width: 700px){
		padding-right: 30px;
		margin-bottom: 67px;
	}

	@media (min-width: 1220px){
		padding-right: 100px;
	}
}

.bold-text{
	font-weight: 600;
}

.main-button-start{
	width: 177px;
	height: 55px;
	border-radius: 50px;
	font-family: 'montserrat', sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.2;
	color: #FFFFFF;
	background-color: #D50839;
	box-shadow: 0px 10px 20px rgba(213, 8, 57, 0.15);
	border: none;
	outline: none;
	cursor: pointer;
}

.slider-main-right-part{
	width: 48%;
	height: 400px;
	position: relative;
	display: none;

	@media (min-width: 700px){
		display: block;
	}

	@media (min-width: 1260px){
		height: 600px;
	}
}

.robot-img-slider{
	width: 400px;
	position: absolute;
	top: 60px;
	

	@media (min-width: 1060px){
		width: 570px;
		top: 31px;
		left: -60px;
	}

	@media (min-width: 1260px){
		width: 747px;
		left: -129px;
	}
}

.partners-img-slider{
	width: 250px;
	position: absolute;
	top: 12px;
	left: 88px;

	@media (min-width: 1060px){
		width: 350px;
	}

	@media (min-width: 1260px){
		width: 444px;
	}
}

.send_message-img-slider{
	width: 400px;
	position: absolute;
	top: 70px;
	left: -20px;

	@media (min-width: 1060px){
		width: 500px;
		top: 47px;
	}

	@media (min-width: 1260px){
		width: 710px;
		left: -135px;
	}
}

.phone-img-slider{
	width: 350px;
	position: absolute;
	top: 70px;
	left: 30px;

	@media (min-width: 1060px){
		width: 481px;
		top: 36px;
		left: 0;
	}

	@media (min-width: 1260px){
		width: 681px;
		left: -85px;
	}
}