/*-------------------Footer------------------*/

.footer{
	padding-bottom: 39px;
	// border: 1px solid green;
}

.footer-navigation-top{
	width: 100%;
	// border: 1px solid green;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
	padding-right: 25px;
	padding-bottom: 20px;
	padding-left: 25px;
}

.footer-top-link{
	text-decoration: none;
	font-family: 'montserrat', sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 1.2;
	color: #9AABBC;
	display: flex;
	align-items: center;
	// border: 1px solid green;

	&:hover .icon-footer-svg{
		fill: #D50839;
	}

	&:hover{
		color: #D50839;
	}

	&:hover .footer-top-link-inner{
		border-bottom: 1px dashed #D50839;
		padding-bottom: 1px;
	}
}

.footer-top-link-inner{
	margin: 0;
	padding-bottom: 2px;
}

.icon-footer-svg{
	width: 20px;
	fill: #9AABBC;
	margin-right: 10px;
}

.footer-navigation-bottom{
	width: 100%;
	// border: 1px solid orange;
	display: flex;
	padding-top: 19px;
}

.footer-block-logo{
	width: 24%;	
	// border: 1px solid red;
	position: relative;
	padding-left: 14px;

	&:after{
		content: "";
		display: block;
		width: 1px;
		height: 40px;
		background-color: #D3DCE6;
		position: absolute;
		top: 10px;
		right: 3px;
	}
}

.logo-img{
	width: 225px;
}

.footer-block-copy{
	width: 26%;
	// border: 1px solid green;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-family: 'montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.4;
	color: #9AABBC;
	padding-top: 5px;
	padding-left: 28px;
}

.footer-block-policy{
	width: 50%;
	// border: 1px solid blue;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-top: 6px;
	padding-right: 15px;
}

.footer-block-policy-link{
	font-family: 'montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.4;
	color: #232834;
	margin-left: 52px;
}
