/*------------Webmaster-bottom-content------------*/

.webmaster-bottom-content{
	// border: 1px solid blue;
	display: flex;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.webmaster-bottom-content-left{
	width: 50%;
	height: 100%;
	// border: 1px solid red;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding-top: 50px;
	padding-right: 32px;
}

.webmaster-phone-img{
	display: block;
	width: 428px;
}

.webmaster-bottom-content-right{
	width: 50%;
	height: 100%;
	// border: 1px solid red;
	padding-top: 127px;
	padding-right: 110px;
	padding-left: 34px;
}

.webmaster-bottom-content-right-text{
	font-family: 'montserrat', sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 1.45;
	color: #232834;
	margin-bottom: 27px;
}