/*-------------Webmaster-top-content-------------*/

.webmaster-top-content{
	// border: 1px solid green;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 78px;
	padding-right: 160px;
	padding-bottom: 40px;
	padding-left: 160px;
	margin-bottom: 20px;
}

.webmaster-top-content-title{
	font-family: 'montserrat', sans-serif;
	font-weight: 700;
	font-size: 55px;
	line-height: 71px;
	text-align: center;
	color: #232834;
	margin: 0;
	margin-bottom: 18px;
}

.webmaster-top-content-sub-title{
	font-family: 'montserrat', sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	color: #232834;
	margin-bottom: 61px;
}